.login {
    background-color: white;
    width: 100vw;
    padding: 100px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 2px wheat,
        0px 2px 4px wheat,
        0px 4px 8px wheat,
        0px 8px 16px wheat;


}

.regBtn {
    background: transparent;
    border: none;
    color: #222 !important;
    font-weight: bold;
}

.regBtn:hover {
    color: wheat !important
}



.rowL {
    padding-left: 100px;
    padding-right: 100px;

}

.d-flex.align-items-center.my-4 {

    justify-content: center;
}



@media (max-width: 1400px) {

    .btn-primary {
        font-size: 15px;
    }
}


@media (max-width: 769px) {
    .d-flex.justify-content-between.mx-4.mb-4 {
        gap: 20px
    }



    .login {
        height: 100%;
    }


}

@media (max-width: 460px) {
    .rowL {
        padding-left: 0px;
        padding-right: 0px;

    }

}