.registration {
    display: flex;
    width: 100vw;
    padding: 0px;


}

.m-5 {
    margin: 0px !important;
    margin-top: 50px !important;

}

.cardB {
    display: flex;

}

.rowB {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    align-items: center;
    justify-content: center;


}






:not(.btn-check)+.btn:active {
    box-shadow: 0px 1px 2px wheat,
        0px 2px 4px wheat,
        0px 4px 8px wheat,
        0px 8px 16px wheat;
    transform: translateY(-10px);
    transition: 0.2s;
    background-color: #222;
    color: wheat
}

.btn-primary {
    width: 150px;
    height: 50px;
    background-color: #222;
    color: wheat;
    border-radius: 8px;
    cursor: pointer;
    border: wheat;



}

.btn-primary:hover {
    box-shadow: 0px 1px 2px wheat,
        0px 2px 4px wheat,
        0px 4px 8px wheat,
        0px 8px 16px wheat;
    transform: translateY(-10px);
    transition: 0.2s;
    background-color: #222;
    color: wheat
}

.colo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: max-content;
    padding-left: 100px;
    padding-right: 100px;
}



.fa-lg {
    margin-bottom: 25px;
    color: #222 !important
}

.form-check-input:checked {
    background-color: wheat;
    border-color: #222;
    color: #222;
}

.form-check-input:focus {
    box-shadow: 0px 1px 2px wheat,
        0px 2px 4px wheat,
        0px 4px 8px wheat,
        0px 8px 16px wheat;
}

.alertDanger {
    margin-left: 35px;
}


@media (max-width: 1000px) {
    .rowB {
        flex-wrap: wrap;
    }

    .registration {
        height: 100%;
        width: 100vw;
    }
}

@media (max-width: 470px) {
    .registration {

        width: 200vw;
        margin-top: 30px;
        padding: 0px !important;

    }
}