.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    margin-top: 80px;
    position: absolute;
    padding: 20px
}

.cart h1 {

    text-align: center;
    margin-top: 20px;

}




.cartItem {
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 2px #222,
        0px 2px 4px #222,
        0px 4px 8px #222,
        0px 8px 16px #222;
    border-radius: 25px;
    margin: 30px;

    justify-content: space-around;
}

.countHandler {
    width: 160px;


}







.cartItem img {
    width: 200px;


}

.cartItem .description {

    font-size: 30px;


}



.checkout button {
    width: 150px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 8px;
    margin-left: 150px;
    cursor: pointer;
    margin-bottom: 50px;
    font-size: 15px;
}

.checkout button:hover {

    box-shadow: 0px 1px 2px black,
        0px 2px 4px black,
        0px 4px 8px black,
        0px 8px 16px black;
    transform: translateY(-10px);
    transition: 0.2s;
}

.checkout p {
    text-align: center;


}

.countHandler {
    display: flex;
    align-items: center;
}

.countHandler button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

.countHandler button:hover {
    box-shadow: 0px 1px 2px black,
        0px 2px 4px black,
        0px 4px 8px black,
        0px 8px 16px black;
}

.countHandler input {
    width: 50px;
    height: 25px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;



}

@media (max-width: 1000px) {
    .cartItem {
        width: 430px;
        justify-content: space-around;
        height: 350px;

    }





    .checkout p {
        text-align: center
    }

    .checkout {
        display: flex;
        flex-direction: column;

    }

    .checkout button {
        margin-bottom: 20px;
    }



}

@media (max-width: 510px) {
    .cartItem {
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        margin-left: 0px;



    }

    .countHandler {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 200px;

    }



    .description p {
        font-size: 22px;


    }




    .checkout {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;

    }

    .checkout button {


        margin-left: 0px;


    }
}