@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}




.product-info-container {
    display: flex;
    flex-direction: column;
    color: wheat;
    background-color: #222;
    align-items: center;

}

.product-info-container h2 {
    font-size: 60px;
    color: wheat;
    animation: focus-in-contract-bck 2s linear both;
    padding: 20px;
    margin-top: 100px
}

.bigImage {
    width: 500px;
    height: 500px;
    margin-right: 100px;
    padding: 20px;
    box-shadow: 0px 1px 2px wheat,
        0px 2px 4px wheat,
        0px 4px 8px wheat,
        0px 8px 16px wheat;
    border-radius: 20px;

}



.productAndImage {

    display: flex;
    flex-direction: row;
    animation: tracking-in-contract-bck-bottom 1.5s linear backwards;
    margin-top: 20px;
}

.descript {
    color: white;


    width: 500px;
    height: 500px;
    margin-left: 100px;
    padding: 20px;
    font-size: 23px;
    box-shadow: 0px 1px 2px wheat,
        0px 2px 4px wheat,
        0px 4px 8px wheat,
        0px 8px 16px wheat;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    line-height: 40px;
    justify-content: center;

}

.descript h3 {
    line-height: 60px;
}



.price {
    width: 1280px;
    display: flex;
    justify-content: flex-end;

}

.price p {
    color: white;
    padding: 20px;
    width: 200px;
    height: 50px;
    font-size: 35px;
    box-shadow: 0px 1px 2px wheat,
        0px 2px 4px wheat,
        0px 4px 8px wheat,
        0px 8px 16px wheat;

    border-radius: 20px;



}

.addToCartBttn1 {
    width: 150px;
    height: 50px;
    background-color: #222;
    color: wheat;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    position: fixed;
    bottom: 20px;
    z-index: 999;



}

.addToCartBttn1:hover {

    box-shadow: 0px 1px 2px wheat,
        0px 2px 4px wheat,
        0px 4px 8px wheat,
        0px 8px 16px wheat;
    transform: translateY(-10px);
    transition: 0.2s;
}


.comments {
    align-self: flex-start;
    margin: 100px;
    padding: 20px;
    font-size: 25px;
    box-shadow: 0px 1px 2px wheat,
        0px 2px 4px wheat,
        0px 4px 8px wheat,
        0px 8px 16px wheat;
    justify-content: center;
    width: 1700px;
    height: auto;
    border-radius: 20px;
}

.comments li p:nth-child(2) {


    background-color: #aaaaaa2c;
    padding: 10px;
    border-radius: 20px;


}

.angle-links {

    background-color: transparent;
    animation: tracking-in-contract-bck-bottom 1.5s linear backwards;
    width: 1000px;
    margin-top: 10px;

}

.angle-links img {

    width: 50px;
    height: 50px;
    background-color: wheat;
    margin: 10px;

}

@media (max-width: 1300px) {


    .bigImage {

        max-width: 350px;
        max-height: 350px;
        margin-bottom: 20px;
    }

    .descript {


        max-width: 350px;
        max-height: 350px;
        margin-top: 20px;
    }

    .descript p,
    ul,
    h3 {
        font-size: 16px;
        line-height: 25px;
    }

    .descript h3 {
        line-height: 20px;
    }

    .price {
        width: 250px;
    }

    .addToCartBttn1 {

        position: fixed;
        bottom: 20px;



    }

    .angle-links {
        width: 300px;
    }

    .comments {
        width: 700px;
    }
}

@media (max-width: 1020px) {
    .productAndImage {
        flex-direction: column;
        align-items: center;
    }

    .bigImage {
        width: 450px;
        height: 450px;
        margin-right: 0px;
    }

    .descript {
        width: 450px;
        height: 450px;
        margin-left: 0px;
    }

    .price {
        margin-top: 20px;
        margin-right: 0;
        text-align: center;
    }

    .addToCartBttn1 {


        position: fixed;



    }

    .comments {
        width: 300px;
    }

}

@media (max-width: 450px) {
    .product-info-container h2 {
        font-size: 30px;
    }

    .bigImage {
        width: 250px;
        height: 250px;
    }

    .descript {
        font-size: 18px;
        width: 250px;
        height: 250px;
    }

    .price {
        font-size: 25px;
        width: 150px;
        height: 60px;



    }

    .price p {
        font-size: 16px;
        height: 20px;


    }

    .addToCartBttn1 {


        position: fixed;
        height: 40px;
        width: 100px;

    }

    .comments {
        width: 300px;
        margin: 20px;
    }

}