@keyframes shake-top {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 0;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
        color: green;
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

body {
    caret-color: transparent;
}


.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(47, 46, 46);
    display: flex;
    justify-content: center;

}

.links {
    display: flex;

}

.links a {

    display: flex;
    align-items: center;
    margin-right: 20px;

    text-decoration: none;
}

.shopcart {


    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 999;
    color: white;




}

.contactInfo {
    display: flex;
    align-items: center;


}


.contactInfo a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;

}

.contactInfo a :hover {
    color: wheat;
    animation: jello-vertical 1s linear both;

}

.shopcart:hover {

    color: wheat;
}



.eShop a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    position: fixed;
    top: 15px;
    left: 40px;
    z-index: 1000;


}

.eShop a:hover {
    color: wheat;
}



.cartItemCount {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;

}

.cartIcon.animated {
    animation: shake-top 1s linear both;
}

.Menu {

    position: absolute;
    left: 200px;
    top: 20px;
    z-index: 999;




}

.socialIcons {
    margin-top: 100px;
    justify-content: space-between;

    display: flex;
    width: 250px;

}





.menuButton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 35px;
    position: fixed;
    z-index: 999;


}

.menuButton:hover {
    cursor: pointer;
    color: wheat;

}

.Menu.collapsed .categoryContent {
    animation: slide-out-left 0.5s both;
}


.Menu .categoryContent {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: linear-gradient(180deg, rgba(47, 46, 46) 0%, wheat 100%);
    width: 350px;
    position: fixed;
    top: 80px;
    height: 850px;
    left: 0px;
    padding: 20px;
    animation: slide-in-left 0.5s linear both;


}



.x {
    background-color: rgb(142, 137, 113);
    border: none;
    color: white;
    font-size: 30px;
    z-index: 1;
    position: relative;
    top: 200px;
    left: 210px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

}

.x:hover {
    color: wheat;
}

.Menu .categoryContent a {
    color: white;
    font-size: 40px;
    text-decoration: none;
    padding: 10px;

}

.Menu .categoryContent a:hover {
    color: wheat;
}





@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes slide-out-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}