.profile-page {
    background-color: wheat;
    width: 100vw;

    margin-top: 40px;


}

.purchaseContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.purchaseRow1 {
    width: 100%;
}

.purchaseRow {

    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 40px !important;


}

.purchaseCol1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.purchaseHistory {
    width: 100%;


}

.titleP {
    align-self: center;
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: bold;

}

.purchaseItems {
    display: flex;
    white-space: nowrap;
    overflow: auto;

}

.purchaseRow2 {
    height: 100%;
}

.purchaseCard2 {
    height: 100%;
}

.listedProducts {
    border: 2px solid wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-left: 20px;
    padding: 10px;

}

.listedProducts:hover {
    cursor: pointer;
}

@media screen and (max-width: 990px) {


    .purchaseRow {

        display: flex;
        flex-direction: column;



    }
}